.App {
  text-align: center;
}

.Title {
  margin-bottom: 40px;
  margin-top: 50px;
}

.Hangman {
  margin-top: 30px;
}

.EmptyWord {
  margin-bottom: 20px;
}

.Alphabet {
  margin-bottom: 30px;
}

.Mistakes {
  margin-bottom: 20px;
}

.GameOver {
  margin-bottom: 20px;
  font-weight: bold;
}
